#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

label {
  display: inline-block;
  width: 150px;
}

.area {
  fill: #9d92b2;
}
.line {
  stroke: #6c1d5f;
  stroke-width: 3px;
  fill: none;
}

path {
  transition: 1s all;
}
circle {
  transition: 1s all;
  fill: steelblue;
  opacity: 0.5;
}
